<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Autos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <!-- partial de header -->
    <%- include('./partials/header') %>

    <h1>Vista de Autos</h1>

    <img src="/images/afa.avif" alt="Argentina" width="250">

    <ol>

        <% for( let i = 0; i < listado.length; i++ ) { %>
            <li>
                <p>Marca: <%= listado[i].marca %></p>
                <p>Modelo: <%= listado[i].modelo %></p>
                <p>Color: <%= listado[i].color %></p>
                <p>Año: <%= listado[i].anio %></p>

            </li>
        <% } %>
      
    </ol>
    
</body>
</html>